<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>

        <ul>
        <li>1</li>
        <li>4</li>
        <li>9</li>
        <li>16</li>
      </ul>
    </body>
</html>
