<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>

        <% if logged_in? %>
          <a href="/logout">Click here to Log Out</a>
        <% else %>
          <a href="/login">Click here to Log In</a>
        <% end %>d %>
    </body>
</html>
